#card-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    height: 300px;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 100px;
    height: 150px;
    text-align: center;
}
